/* #region 基础设置 start */
.container {
    width: 1190px;
    height: 100%;
    margin: auto;
}
.separate {
    font-size: 8px;
    border: 1px solid #666;
    margin: 0px 10px;
    vertical-align: middle;
}
/* #endregion 基础设置 end */

/* #region 顶部导航条 start */
.topbar {
    height: 30px;
    background-color: #ececec;
}
.topbar .welcome,
.topbar .list
 {
    height: 30px;
    line-height: 30px;
    font-size: 0px;
    color: #666;
}
.topbar .welcome .hello,
.topbar .welcome a,
.topbar .list a {
    font-size: 12px;
    vertical-align: middle;
}
.topbar .welcome .hello {
    margin-right: 28px;
}
.topbar .list li {
    float: left;
}
/* #endregion 顶部导航条 end */

/* #region 头部 start */
.header {
    height: 120px;
}
.header .logo img {
    height: 120px;
    width: 190px;
}
.header .search form {
    height: 120px;
    line-height: 120px;
    font-size: 0px;
}
.header .search input {
    width: 508px;
    height: 34px;
    border: 1px solid #ff0c0c;
    vertical-align: middle;
    padding: 0px 8px;
}
.header .search button {
    width: 80px;
    height: 36px;
    background-color: #ff0c0c;
    vertical-align: middle;
}
.header .search img {
    width: 20px;
    height: 20px;
    margin: auto;
}
/* #endregion 头部 end */
